@import "tailwindcss";

@theme {
  --color-ai-bg: #09090b;
  --color-neon-cyan: #0df2f2;
  --color-neon-purple: #8b5cf6;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .glass {
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@layer base {
  body {
    background-color: var(--color-ai-bg);
    color: white;
    font-family: var(--font-sans);
  }
}
